<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="button" href='/celebrities/'>Celebrities</a>
<a class="button" href='/movies/'>Movies</a>
<br>
<a class="button" href="/auth/signup">Sign Up</a>
<br>
<a class="button" href="auth/login">Login</a>

<a class="button" href="auth/logout">Logout</a>
<br>
<a class="button" href="auth/private-page">
  <button width="200px" style="background-color: black; color: white; font-weight: 800">Private-page</button>
</a>

{{!-- how to get a flag and logged username from passport --}}
<a class="button" href='/auth/private'>Go to private(if logged)</a>